
      <section class="brands-sec">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="brand-title mb-5">
                          <h5 class="h5-title">Trusted by 10+ companies</h5>
                      </div>
                      <div class="brands-row">
                          <div class="brands-box">
                              <img src="../../../assets/images/شركات/افواج.png" alt="">
                          </div>
                          <div class="brands-box">
                              <img src="../../../assets/images/شركات/افواج.png" alt="">
                          </div>
                          <div class="brands-box">
                              <img src="../../../assets/images/شركات/افواج.png" alt="">
                          </div>
                          <div class="brands-box">
                              <img src="../../../assets/images/شركات/افواج.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  <section class="blog-sec section" id="blog">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <div class="sec-title-shape mb-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(assets/images/فنادق/بالاس.jpeg);"></div>
                        <div class="blog-text">
                            <a href="#" class="h4-title">Palace Hotel</a>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                blanditiis amet ad.</p>
                            <a href="#" class="sec-btn">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(assets/images/فنادق/سافوي.jpeg);"></div>
                        <div class="blog-text">
                            <a href="#" class="h4-title">Savoy Hotel.</a>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                blanditiis amet ad.</p>
                            <a href="#" class="sec-btn">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                        <div class="blog-text">
                            <a href="#" class="h4-title">Houras Hotels</a>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                blanditiis amet ad.</p>
                            <a href="#" class="sec-btn">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="sec-wp">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="sec-title text-center mb-5">
                                  <div class="sec-title-shape mb-4">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-4">
                              <div class="blog-box">
                                  <div class="blog-img back-img"
                                      style="background-image: url(assets/images/فنادق/بالاس.jpeg);"></div>
                                  <div class="blog-text">
                                      <a href="#" class="h4-title">Palace Hotel</a>
                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                          explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                          blanditiis amet ad.</p>
                                      <a href="#" class="sec-btn">See More</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="blog-box">
                                  <div class="blog-img back-img"
                                      style="background-image: url(assets/images/فنادق/سافوي.jpeg);"></div>
                                  <div class="blog-text">
                                      <a href="#" class="h4-title">Savoy Hotel.</a>
                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                          explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                          blanditiis amet ad.</p>
                                      <a href="#" class="sec-btn">See More</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="blog-box">
                                  <div class="blog-img back-img"
                                      style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                                  <div class="blog-text">
                                      <a href="#" class="h4-title">Houras Hotels</a>
                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                          explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                          blanditiis amet ad.</p>
                                      <a href="#" class="sec-btn">Learn More</a>
                                  </div>
                              </div>
                          </div>

                          <div class="sec-wp">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="sec-title text-center mb-5">
                                            <div class="sec-title-shape mb-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="blog-box">
                                            <div class="blog-img back-img"
                                                style="background-image: url(assets/images/فنادق/بالاس.jpeg);"></div>
                                            <div class="blog-text">
                                                <a href="#" class="h4-title">Palace Hotel</a>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                                    explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                                    blanditiis amet ad.</p>
                                                <a href="#" class="sec-btn">See More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="blog-box">
                                            <div class="blog-img back-img"
                                                style="background-image: url(assets/images/فنادق/سافوي.jpeg);"></div>
                                            <div class="blog-text">
                                                <a href="#" class="h4-title">Savoy Hotel.</a>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                                    explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                                    blanditiis amet ad.</p>
                                                <a href="#" class="sec-btn">See More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="blog-box">
                                            <div class="blog-img back-img"
                                                style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                                            <div class="blog-text">
                                                <a href="#" class="h4-title">Houras Hotels</a>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa
                                                    explicabo atque reprehenderit beatae! Accusantium soluta consequuntur
                                                    blanditiis amet ad.</p>
                                                <a href="#" class="sec-btn">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                   </div>
                                  </div>
                                </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
  </section>
