  
  <section style="margin-top: 130px;" class="menu-list-row mt-5">
    <div  class="container">
      <div style="margin-top: 130px;" class="row g-3">
        <!-- Card 1 -->
        <div class="col-lg-4" >

          <div class="blog-box">

              <div class="blog-img back-img"
                  style="background-image: url(../../../assets/CarRenter/M.jpg);">

                </div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">El-Minya Automative</h3>
                      <p>Your safety is with us. Rent your car safely with the most comfortable
                        payment methods.</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="https://maps.app.goo.gl/U4JbnFgetJ73MBt19"><img src="../../../assets/activites/index.png"style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                    <a  class="btn btn-orange btn-lg mt-3">01223444112</a>                  </div>
          </div>
      </div>
        <!-- Card 2 -->
        <!-- Add similar code for other cards -->
       <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(../../../assets/CarRenter/alhamd.jpg);"></div>
                            <div class="card-body text-center">
                              <div class="dish-rating mt-3">
                                  5
                                  <i class="fas fa-star"></i>
                                </div>
                                
                              <div class="dish-title mt-3">
                                <h3 class="h3-title">Ahmed cars</h3>
                                <p>Our customers are our capital, so do not feel when dealing with us that you are a tenant, but always an owner.</p>
                              </div>
                              <div class="dish-info"></div>
                              <a href="https://maps.app.goo.gl/u19tUBjyiRYsvBzB6"><img src="../../../assets/activites/index.png"style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                              <a href="#" class="btn btn-orange btn-lg mt-3">01095067593</a>                            </div>
                    </div>
                </div>
        <!-- Card 3 -->
        <!-- Add similar code for other cards -->
        <div class="col-lg-4">
          <div class="blog-box">
              <div class="blog-img back-img"
                  style="background-image: url(../../../assets/CarRenter/Minia\ motors.jpg);"></div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">Minya Motors</h3>
                      <p>If you want happiness and enjoyment in moving, you should book with us at the cheapest prices.</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="https://maps.app.goo.gl/FMaiZdDbswrKuo957"><img src="../../../assets/activites/index.png"style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                    <a href="#" class="btn btn-orange btn-lg mt-3"> 01000042325</a>                  </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  
