  
  <section class="menu-list-row mt-5">
    <div class="container">
      <div class="row g-3">
  
        <!-- Card 1 -->
        <div class="col-lg-4">
          <div class="blog-box">
              <div class="blog-img back-img"
                  style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">Al-Khalil</h3>
                      <p>For grills and fish</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="#" class="btn btn-orange btn-lg mt-3">Contact Us</a>
                  </div>
          </div>
      </div>
        <!-- Card 2 -->
        <!-- Add similar code for other cards -->
       <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                            <div class="card-body text-center">
                              <div class="dish-rating mt-3">
                                  5
                                  <i class="fas fa-star"></i>
                                </div>
                                
                              <div class="dish-title mt-3">
                                <h3 class="h3-title">Al-Khalil</h3>
                                <p>For grills and fish</p>
                              </div>
                              <div class="dish-info"></div>
                              <a href="#" class="btn btn-orange btn-lg mt-3">Contact Us</a>
                            </div>
                    </div>
                </div>
        <!-- Card 3 -->
        <!-- Add similar code for other cards -->
        <div class="col-lg-4">
          <div class="blog-box">
              <div class="blog-img back-img"
                  style="background-image: url(assets/images/فنادق/حورس.jpeg);"></div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">Al-Khalil</h3>
                      <p>For grills and fish</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="#" class="btn btn-orange btn-lg mt-3">Contact Us</a>
                  </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  
