  
  <section class="menu-list-row mt-5">
    <div class="container">
      <div class="row g-3" style="margin-top: 130px;" >
  
        <!-- Card 1 -->
        <div class="col-lg-4">
          <div class="blog-box" style="height: fit-content;">
              <div class="blog-img back-img"
                  style="background-image: url(../../../assets/activites/دير.jpg);"></div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">Saint Mary Coptic</h3>
                      <p> Gabal El-Tair, Samalout, El-Menya,
                        Egypt Al-Maqrizi mentioned in the book Al-Maqriziyyah Plans, Part Four, explaining the reason for
                        calling this mountain “Bird Mountain,” saying: It was called “Bird Mountain” because thousands of
                        “buqirs” birds used to gather there.</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="https://maps.app.goo.gl/SuWVhP6MTPDSRjZo7"><img src="../../../assets/activites/index.png" style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                    <a href="https://maps.app.goo.gl/SuWVhP6MTPDSRjZo7" class="btn btn-orange btn-lg mt-3">Location</a>
                  </div>
          </div>
      </div>
        <!-- Card 2 -->
        <!-- Add similar code for other cards -->
       <div class="col-lg-4">
                    <div class="blog-box">
                        <div class="blog-img back-img"
                            style="background-image: url(../../../assets/activites/البهنسه.jpg);"></div>
                            <div class="card-body text-center">
                              <div class="dish-rating mt-3">
                                  5
                                  <i class="fas fa-star"></i>
                                </div>
                                
                              <div class="dish-title mt-3">
                                <h3 class="h3-title">Bahnasa</h3>
                                <p>It is located to the west of Minya Governorate. in which many papyri dating back to the Greek, Roman, Coptic and Pharaonic eras
                                  were found. It is nicknamed the Land of the Martyrs. and represents a glorious page in the history of the Islamic conquest for what it
                                  witnessed.</p>
                              </div>
                              <div class="dish-info"></div>
                              <a href="https://maps.app.goo.gl/toXFxPBG66yNbRuN8"><img src="../../../assets/activites/index.png"style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                              <a href="#" class="btn btn-orange btn-lg mt-3">Contact Us</a>
                            </div>
                    </div>
                </div>
        <!-- Card 3 -->
        <!-- Add similar code for other cards -->
        <div class="col-lg-4">
          <div class="blog-box">
              <div class="blog-img back-img"
                  style="background-image: url(../../../assets/activites/bany\ hasan.jpg);"></div>
                  <div class="card-body text-center">
                    <div class="dish-rating mt-3">
                        5
                        <i class="fas fa-star"></i>
                      </div>
                      
                    <div class="dish-title mt-3">
                      <h3 class="h3-title">Bani Hassan</h3>
                      <p>Beni Hassan is an archaeological area containing an ancient Egyptian
                        cemetery. It is located about 20 kilometers south of the city of Minya in the region known as Middle
                        Egypt, extending between Assiut and Memphis (Meet Rahina)..</p>
                    </div>
                    <div class="dish-info"></div>
                    <a href="https://maps.app.goo.gl/aE3x1Dhkj3eJKw497"><img src="../../../assets/activites/index.png"style="width: 30px;height: 35px;margin-left: 5px;"></a><br>
                    <a href="#" class="btn btn-orange btn-lg mt-3">Contact Us</a>
                  </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  
